nifi/templates/tables_ingestion_flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  NiFi Template — Tables Ingestion Flow
  ─────────────────────────────────────
  Purpose: Watch /opt/data/incoming/tables/ for new CSV/JSON/Parquet files,
           upload them to MinIO under raw/tables/<filename>.
  Import:  NiFi UI → toolbar → Upload Template → select this file →
           drag the template icon onto canvas → "tables_ingestion_flow".

  Processors:
    1. GetFile         — watches /opt/data/incoming/tables/, picks up files
    2. UpdateAttribute — sets s3.key = "tables/${filename}"
    3. PutS3Object     — uploads to MinIO bucket "raw"

  Key MinIO settings on PutS3Object (already configured in this template):
    • Bucket:                 raw
    • Endpoint Override URL:  http://minio:9000
    • Region:                 us-east-1
    • Access Key:             admin
    • Secret Key:             admin123456
    • Path Style Access:      true
    • Signer Override:        AWSS3V4SignerType
-->
<template encoding-version="1.4">
  <description>Watch /opt/data/incoming/tables/ and upload files to MinIO raw/tables/</description>
  <groupId>00000000-0000-0000-0000-000000000000</groupId>
  <name>tables_ingestion_flow</name>
  <snippet>

    <!-- PROCESSOR 1: GetFile -->
    <processors>
      <id>11111111-1111-1111-1111-111111111111</id>
      <name>GetFile (incoming tables)</name>
      <type>org.apache.nifi.processors.standard.GetFile</type>
      <position><x>100.0</x><y>100.0</y></position>
      <config>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <properties>
          <entry><key>Input Directory</key><value>/opt/data/incoming/tables</value></entry>
          <entry><key>File Filter</key><value>.*\.(csv|json|jsonl|parquet|tsv|orc|xlsx|sql|hl7)$</value></entry>
          <entry><key>Keep Source File</key><value>false</value></entry>
          <entry><key>Recurse Subdirectories</key><value>true</value></entry>
          <entry><key>Polling Interval</key><value>10 sec</value></entry>
          <entry><key>Batch Size</key><value>10</value></entry>
        </properties>
      </config>
    </processors>

    <!-- PROCESSOR 2: UpdateAttribute — derive S3 key path -->
    <processors>
      <id>22222222-2222-2222-2222-222222222222</id>
      <name>Set S3 Key Path</name>
      <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
      <position><x>400.0</x><y>100.0</y></position>
      <config>
        <properties>
          <!-- Route to a subfolder based on file extension -->
          <entry><key>s3.subfolder</key><value>${filename:substringAfterLast('.'):toLower():
            substringBefore(' '):replaceAll('csv', 'tables'):
            replaceAll('json', 'json'):replaceAll('jsonl', 'jsonl'):
            replaceAll('parquet', 'parquet'):replaceAll('xlsx', 'excel'):
            replaceAll('sql', 'sql'):replaceAll('hl7', 'hl7')}</value></entry>
          <entry><key>s3.key</key><value>${s3.subfolder}/${filename}</value></entry>
        </properties>
      </config>
    </processors>

    <!-- PROCESSOR 3: PutS3Object — upload to MinIO -->
    <processors>
      <id>33333333-3333-3333-3333-333333333333</id>
      <name>PutS3Object (to MinIO raw bucket)</name>
      <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
      <position><x>700.0</x><y>100.0</y></position>
      <config>
        <properties>
          <entry><key>Bucket</key><value>raw</value></entry>
          <entry><key>Object Key</key><value>${s3.key}</value></entry>
          <entry><key>Access Key</key><value>admin</value></entry>
          <entry><key>Secret Key</key><value>admin123456</value></entry>
          <entry><key>Region</key><value>us-east-1</value></entry>
          <entry><key>Endpoint Override URL</key><value>http://minio:9000</value></entry>
          <entry><key>Signer Override</key><value>AWSS3V4SignerType</value></entry>
          <entry><key>Communications Timeout</key><value>30 secs</value></entry>
          <entry><key>Content Type</key><value>${mime.type}</value></entry>
          <entry><key>Use Path Style Access</key><value>true</value></entry>
          <entry><key>Server Side Encryption</key><value>None</value></entry>
        </properties>
      </config>
    </processors>

    <!-- CONNECTIONS -->
    <connections>
      <id>aaaaaaaa-1111-1111-1111-aaaaaaaaaaaa</id>
      <source>
        <id>11111111-1111-1111-1111-111111111111</id>
        <type>PROCESSOR</type>
      </source>
      <destination>
        <id>22222222-2222-2222-2222-222222222222</id>
        <type>PROCESSOR</type>
      </destination>
      <selectedRelationships>success</selectedRelationships>
    </connections>

    <connections>
      <id>bbbbbbbb-2222-2222-2222-bbbbbbbbbbbb</id>
      <source>
        <id>22222222-2222-2222-2222-222222222222</id>
        <type>PROCESSOR</type>
      </source>
      <destination>
        <id>33333333-3333-3333-3333-333333333333</id>
        <type>PROCESSOR</type>
      </destination>
      <selectedRelationships>success</selectedRelationships>
    </connections>

  </snippet>
</template>
